
@import "tailwindcss";

/* Animasi Halus untuk Semua Eleman */
* {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
:root {
  --bg-color: #fcfcfd;
}

body {
  background-color: var(--bg-color);
  color: #1e293b;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow-x: hidden;
}

/* Kunci Efek Glass Aceternity */
.glass-container {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.04);
}